<% if(success && success.length) {%>

<div
  class="toast-container position-fixed d-flex justify-content-center bottom-0 w-100 mb-3"
>
  <div
    id="flashToast"
    class="toast w-auto rounded-pill fs-8"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-body me-0 px-3"><%= success %></div>
  </div>
</div>

<% } %> <% if(error && error.length) {%>
<div
  class="toast-container position-fixed d-flex justify-content-center bottom-0 w-100 mb-3"
>
  <div
    id="flashToast"
    class="toast w-auto rounded-pill fs-8"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-body me-0 px-3"><%= error %></div>
  </div>
</div>
<% } %> <% if ((success && success.length) || (error && error.length)){ %>
<script>
  window.onload = () => {
    new bootstrap.Toast(document.querySelector('#flashToast')).show();
  };
</script>
<% } %>
