<% layout('layouts/boilerplate')%>

<div class="mx-width mx-auto mt-5 w-90">
  <h1 class="insta-clone mb-4 fs-1">About the InstaClone</h1>
  <div class="mb-5">
    <p>
      This is the first full-stack project that I built from scratch and it took
      me about 2 months to complete. It turned out better than I expected. Feel
      free to test it. Please report any bugs that you may encounter.
    </p>
    <a href="https://www.udemy.com/course/the-web-developer-bootcamp/"
      >Course I took</a
    >
  </div>
  <h2 class="insta-clone mb-4 fs-1" id="termsandconditions">
    Terms and Conditions
  </h2>
  <p class="mb-5">
    Although it is a bit obvious, I still want to emphasize that this website is
    not meant for real use. This is my personal project and I won't be
    responsible for your data loss.
  </p>
  <h2 class="insta-clone mb-4 fs-1">Techonologies Used</h2>
  <p class="mb-5">MongoDB, Express, Node.js, Bootstrap</p>
  <h2 class="insta-clone mb-4 fs-1">Some Features</h2>
  <p class="mb-5">
    User Authentication, Search User, Explore, Notifications, Forgot Password
  </p>

  <h2 class="insta-clone mb-4 fs-1">About Me</h2>
  <div class="mb-5">
    <p>I'm a self taught web developer and computer science student.</p>
    <a href="https://anasahmad.dev/"
      >Check out my website to learn more about me</a
    >
  </div>
  <h2 class="insta-clone mb-4 fs-1">Support</h2>
  <p class="mb-4">Got a suggestion or a bug to report?</p>
  <button class="btn btn-outline-primary btn-sm mb-5" id="email-btn">
    <a href="" class="text-reset" id="email-link">Contact me </a>
  </button>
</div>

<script>
  const me = 'anasahmad0239';
  const place = 'gmail.com';
  const eLink = document.getElementById('email-link');
  eLink.href = `mailto:${me}@${place}`;
</script>
