<% layout('layouts/boilerplate')%>

<h1 class="mx-width mx-auto ps-sm-0 ps-3 mt-4">About the InstaClone</h1>
<div class="card mx-width mx-auto mt-sm-5">
  <div class="card-body">
    <p>
      Hey there, This is my first ever full stack project that I did by myself
      after taking the course from colt Steele. Although I wanted to learn react
      after that course to complete my full stack development quest. But, I
      thought why not make a full stack project to solidify my understanding.
      And after a lot of thought, I decided to make an insta clone. It was going
      to be a bare minimum replica of Instagram, It started out well and I would
      have finished it in about half a month, but alas my perfectionist woke up
      and I couldn't resist the temptations to add more features as I got on
      with this project which I didn't initially planned of, like notification,
      explore, search, forgot password, photo cropping (I had to do some
      workaround for it), filter would have been too much for me now, I am good
      with cropping feature for now. And there was more I wanted to add, and the
      list would have been never ending. It was becoming tedious and since this
      website is of no real use, and I already spent 2 months on it. I had to
      stop somewhere. However, I would like to add chat functionality in future,
      if I feel like it. And I will my repo public, once It's been tested enough
      and I have confidence in this website. And since it is of no use other
      than representation of my skills, I guess it is enough for it.
    </p>
  </div>
</div>
