@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  background-color: rgb(250, 250, 250);
}

main {
  max-width: 100vw;
  overflow-x: hidden;
}

#navbar {
  background-color: #fff !important;
}

textarea.noscrollbars {
  overflow: hidden;
}

.username-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #0095f6;
  border: none;
}

.website-link {
  color: #00376b;
}

.nav-pop {
  width: 150px;
}

.btn-nav {
  width: 35px;
  height: 35px;
}

.nav-image {
  width: 24px;
  height: 24px;
}

.profile-image {
  width: 32px;
  height: 32px;
}

.profile-image-index {
  width: 77px;
  height: 77px;
}

.profile-image-edit {
  width: 38px;
  height: 38px;
}

.profile-image-list {
  width: 44px;
  height: 44px;
}

.profile-post-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.profile-post-img img {
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.pre-wrap {
  white-space: pre-wrap;
}

.read-more {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.mx-width {
  max-width: 500px;
}

.mx-width-nav {
  max-width: 750px;
}

.mx-width-profile {
  max-width: 935px;
}

i {
  font-size: 1.35rem;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.btn-custom {
  background-color: white;
  border-color: white;
}

.btn-custom:hover {
  background-color: white;
  border-color: white;
}

.btn-custom:focus {
  background-color: white;
  border-color: white;
  box-shadow: none;
}

.btn-custom:active {
  background-color: white;
  border-color: white;
}

.btn-delete:hover {
  color: #dc3545;
}

.btn-delete:focus {
  color: #dc3545;
}

.btn:active:focus {
  box-shadow: none;
}

.btn:active {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.form-control:active:focus {
  box-shadow: none;
}

.form-control:active {
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-opc:hover {
  color: #0d6efd;
}

.btn-opc:focus {
  color: #0d6efd;
}

.btn-like {
  box-shadow: none;
  border: none;
  background: none;
}

.btn-unfollow {
  color: #262626;
  border: 1px solid #dbdbdb;
}

.btn-unfollow:hover,
.btn-unfollow:focus,
.btn-unfollow:active:focus {
  background-color: rgb(250, 250, 250);
  color: #262626;
  border: 1px solid #dbdbdb;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  grid-gap: 28px;
}
.post {
  cursor: pointer;
  position: relative;
  display: block;
}
.post-image {
  margin: 0;
}
.post-image img {
  width: 100%;
  vertical-align: top;
}
.post-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

@media (min-width: 576px) {
  .post:hover .post-overlay {
    display: flex;
  }
}

.post-like,
.post-comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.post-heart-center {
  opacity: 0;
  display: inline-block;
}

.post-heart-center.like {
  animation: 1s like-heart-animation ease-in-out forwards;
}

.post-heart-center i {
  font-size: 5rem;
}

.like-this {
  cursor: pointer;
}

.double-tap-image {
  width: 100%;
  flex-basis: 100%;
}

.red-heart {
  color: #ed4957;
}

.white-heart {
  color: #fff;
}

.search-item:hover {
  background-color: #f8f9fa;
}

@keyframes like-heart-animation {
  0%,
  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  30% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .post-list {
    grid-gap: 3px;
  }
}
.post-index-card {
  margin: 0em inherit;
}

@media (max-width: 576px) {
  body {
    background-color: #fff;
  }
  main {
    padding-top: 0px !important;
  }
  .card {
    width: 100%;
    border: none;
  }
  .mx-width {
    max-width: 576px;
  }
  .fs-sm-7 {
    font-size: 0.75rem;
  }
}
