@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  background-color: rgb(250, 250, 250);
}

#navbar {
  background-color: #fff !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #0095f6;
  border: none;
}

.website-link {
  color: #00376b;
}

.nav-pop {
  width: 150px;
}

.btn-nav {
  width: 35px;
  height: 35px;
}

.nav-image {
  width: 24px;
  height: 24px;
}

.profile-image {
  width: 32px;
  height: 32px;
}

.profile-image-index {
  width: 77px;
  height: 77px;
}

.profile-image-edit {
  width: 38px;
  height: 38px;
}

.profile-image-list {
  width: 44px;
  height: 44px;
}

.profile-post-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.profile-post-img img {
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.bio-text {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

.mx-width {
  max-width: 500px;
}

.mx-width-nav {
  max-width: 750px;
}

i {
  font-size: 1.35rem;
}

.red-heart {
  color: #ed4957;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.w-90 {
  width: 95%;
}

.btn-custom {
  background-color: white;
  border-color: white;
}

.btn-custom:hover {
  background-color: white;
  border-color: white;
}

.btn-custom:focus {
  background-color: white;
  border-color: white;
  box-shadow: none;
}

.btn-custom:active {
  background-color: white;
  border-color: white;
}

.btn-delete:hover {
  color: #dc3545;
}

.btn-delete:focus {
  color: #dc3545;
}

.btn-delete:active:focus {
  box-shadow: none;
}

.btn-opc:hover {
  color: #0d6efd;
}

.btn-opc:focus {
  color: #0d6efd;
}

.btn-like {
  box-shadow: none;
  border: none;
  background: none;
}

.btn-unfollow {
  color: #262626;
  border: 1px solid #dbdbdb;
}

.btn-unfollow:hover,
.btn-unfollow:focus,
.btn-unfollow:active:focus {
  background-color: rgb(250, 250, 250);
  color: #262626;
  border: 1px solid #dbdbdb;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  grid-gap: 28px;
}
.post {
  cursor: pointer;
  position: relative;
  display: block;
}
.post-image {
  margin: 0;
}
.post-image img {
  width: 100%;
  vertical-align: top;
}
.post-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.post:hover .post-overlay {
  display: flex;
}

.post-like,
.post-comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .post-list {
    grid-gap: 3px;
  }
}
