<% layout('layouts/boilerplate') %>

<div class="card mx-width mx-auto px-3 w-75">
  <div class="card-body">
    <h1 class="fs-3 my-4 text-center">Dext</h1>
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div class="mb-4">
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Username"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-4">
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary">Log in</button>
      </div>
    </form>
    <div class="d-flex py-3 flex-row align-items-center">
      <div class="col-5 text-muted">
        <hr />
      </div>
      <div class="text-muted text-center col-2 fs-7">OR</div>
      <div class="col-5 text-muted">
        <hr />
      </div>
    </div>
    <div class="d-grid">
      <button class="btn btn-primary">Google</button>
    </div>
  </div>
</div>

<div class="card mx-width mx-auto px-3 w-75 my-4">
  <div class="card-body text-center">
    <span>Don't have an account?</span> <a href="/accounts/signup">Sign up</a>
  </div>
</div>
