<% layout('layouts/boilerplate') %>

<div class="card mx-width mx-auto px-4 mt-sm-5">
  <div class="card-body w-90 mx-auto">
    <h1 class="my-4 text-center insta-clone fs-1">InstaClone</h1>
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div class="mb-4">
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Username or email"
          required
        />
      </div>
      <div class="mb-4 position-relative">
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
          id="password"
          required
        />
        <div
          id="show"
          class="position-absolute fs-7 fw-5 my-auto"
          style="top: 8px; right: 12px; cursor: pointer"
        >
          Show
        </div>
        <div
          id="hide"
          class="position-absolute fs-7 fw-5 my-auto"
          style="top: 8px; right: 12px; display: none; cursor: pointer"
        >
          Hide
        </div>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary spinner">Log in</button>
      </div>
    </form>
    <div class="text-center mt-4 fs-7">
      <a href="/accounts/password/reset">Forgot password?</a>
    </div>
    <div class="d-flex py-3 flex-row align-items-center">
      <div class="col-5 text-muted">
        <hr />
      </div>
      <div class="text-muted text-center col-2 fs-7">OR</div>
      <div class="col-5 text-muted">
        <hr />
      </div>
    </div>
    <a href="/about" class="text-reset">
      <div class="d-grid mb-4">
        <button class="btn btn-primary">About InstaClone</button>
      </div>
    </a>
  </div>
</div>

<div class="card mx-width mx-auto px-3 my-sm-4">
  <div class="card-body text-center w-90 mx-auto">
    <span>Don't have an account?</span> <a href="/accounts/signup">Sign up</a>
  </div>
</div>
