<% layout('layouts/boilerplate') %>

<div class="card mx-width px-4 mx-auto mt-sm-4">
  <div class="card-body w-90 mx-auto">
    <h1 class="fs-1 mt-4 text-center insta-clone">InstaClone</h1>
    <p class="text-muted text-center fs-5">
      Sign up to see photos and videos from your friends
    </p>
    <a href="/about" class="text-reset">
      <div class="d-grid">
        <button class="btn btn-primary">About InstaClone</button>
      </div>
    </a>
    <div class="d-flex py-3 flex-row align-items-center">
      <div class="col-5 text-muted">
        <hr />
      </div>
      <div class="text-muted text-center col-2 fs-7">OR</div>
      <div class="col-5 text-muted">
        <hr />
      </div>
    </div>
    <form
      action="/accounts/signup"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-4">
        <input
          type="email"
          name="user[email]"
          class="form-control"
          placeholder="Email"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-4">
        <input
          type="text"
          name="user[fullName]"
          class="form-control"
          placeholder="Full Name"
        />
      </div>
      <div class="mb-4">
        <input
          type="text"
          name="user[username]"
          class="form-control"
          placeholder="Username"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-4 position-relative">
        <input
          type="password"
          name="user[password]"
          class="form-control"
          id="password"
          placeholder="Password"
          required
          autocomplete="new-password"
        />
        <div
          id="show"
          class="position-absolute fs-7 fw-5 my-auto"
          style="top: 8px; right: 12px; cursor: pointer"
        >
          Show
        </div>
        <div
          id="hide"
          class="position-absolute fs-7 fw-5 my-auto"
          style="top: 8px; right: 12px; display: none; cursor: pointer"
        >
          Hide
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <p class="text-muted text-center fs-7">
        By signing up, you agree to our
        <a href="/about#termsandconditions"> Terms and Conditions.</a>
      </p>
      <div class="d-grid mb-4">
        <button class="btn btn-primary spinner">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<div class="card mx-width mx-auto px-3 my-sm-4">
  <div class="card-body text-center w-90 mx-auto">
    <span>Have an account?</span> <a href="/login">Log in</a>
  </div>
</div>
