<% layout('layouts/boilerplate') %>

<div class="container mx-width w-90 mt-4">
  <h1 class="mb-3 fs-3">Edit Post</h1>
  <form action="/p/<%= post._id %>?_method=PUT" method="POST">
    <div class="mb-4">
      <textarea
        name="post[caption]"
        class="form-control"
        placeholder="Write a caption"
        id="caption-input"
      >
<%= post.caption %></textarea
      >
    </div>
    <div class="d-grid">
      <button class="btn btn-secondary spinner">Edit</button>
    </div>
  </form>
</div>
