<% layout('layouts/boilerplate') %>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"
  integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<div class="container mx-width">
  <h1 class="fs-3 mb-4" id="create-new">Create new post</h1>
  <form
    action="/p"
    method="POST"
    novalidate
    class="needs-validation"
    enctype="multipart/form-data"
  >
    <div class="mb-4">
      <input
        class="form-control"
        type="file"
        name="image"
        accept="image/jpg, image/jpeg, image/png"
        id="id_image"
        required
      />
    </div>
    <div class="mb-4">
      <textarea
        name="post[caption]"
        class="form-control noscrollbars"
        onkeyup="autoGrow(this);"
        placeholder="Write a caption"
        id="caption-input"
      ></textarea>
    </div>
    <div id="image-box" class="image-container" style="max-height: 50vh"></div>
    <div
      class="my-3 align-items-center"
      id="btn-container"
      style="display: none"
    >
      <span class="me-2">Aspect ratio:</span>
      <button class="btn btn-sm btn-outline-info me-2" id="1-1">1:1</button>
      <button class="btn btn-sm btn-outline-info me-2" id="16-9">16:9</button>
      <button class="btn btn-sm btn-outline-info" id="4-5">4:5</button>
    </div>
    <button
      class="btn btn-outline-info mt-3 mb-4"
      id="crop-btn"
      style="width: 100%; margin-top: 10px; display: none"
      type="button"
    >
      Next
    </button>
    <div class="d-grid">
      <button class="btn btn-secondary spinner" id="confirm-btn">Share</button>
    </div>
  </form>
</div>

<script>
  // image-box is the id of the div element that will store our cropping image preview
  const imagebox = document.getElementById('image-box');
  // crop-btn is the id of button that will trigger the event of change original file with cropped file.
  const crop_btn = document.getElementById('crop-btn');
  // id_image is the id of the input tag where we will upload the image
  const input = document.getElementById('id_image');

  const squareImage = document.getElementById('1-1');
  const landscapeImage = document.getElementById('16-9');
  const potraitImage = document.getElementById('4-5');

  //Stop context menu from popping up
  imagebox.oncontextmenu = (e) => {
    e.preventDefault();
    e.stopPropagation();
    return false;
  };

  // When user uploads the image this event will get triggered
  input.addEventListener('change', () => {
    // Getting image file object from the input variable
    const img_data = input.files[0];
    // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
    // The new object URL represents the specified File object or Blob object.
    const url = URL.createObjectURL(img_data);

    // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
    imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`;

    // Storing that cropping view image in a variable
    const image = document.getElementById('image');

    // Displaying the image box
    document.getElementById('image-box').style.display = 'block';
    // Displaying the Crop buttton
    document.getElementById('crop-btn').style.display = 'block';
    // Hiding the Post button
    document.getElementById('confirm-btn').style.display = 'none';
    document.getElementById('caption-input').style.display = 'none';
    document.getElementById('create-new').style.display = 'none';
    document.getElementById('btn-container').style.display = 'block';

    // Creating a croper object with the cropping view image
    // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
    // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
    const cropper = new Cropper(image, {
      aspectRatio: 1 / 1,
      background: false,
      autoCropArea: 1,
      viewMode: 1,
      scalable: false,
      zoomable: false,
      movable: false,
      center: false,
      minCropBoxWidth: 50,
      minCropBoxHeight: 50,
    });

    //Changing aspect ratio
    squareImage.addEventListener('click', (e) => {
      e.preventDefault();
      cropper.setAspectRatio(1 / 1);
    });

    landscapeImage.addEventListener('click', (e) => {
      e.preventDefault();
      cropper.setAspectRatio(16 / 9);
    });

    potraitImage.addEventListener('click', (e) => {
      e.preventDefault();
      cropper.setAspectRatio(4 / 5);
    });

    // When crop button is clicked this event will get triggered
    crop_btn.addEventListener('click', () => {
      // This method coverts the selected cropped image on the cropper canvas into a blob object
      cropper
        .getCroppedCanvas({
          maxWidth: 1200,
          maxHeight: 1200,
        })
        .toBlob((blob) => {
          // Gets the original image data
          let fileInputElement = document.getElementById('id_image');
          // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
          let file = new File([blob], img_data.name, {
            type: 'image/*',
            lastModified: new Date().getTime(),
          });
          // Create a new container
          let container = new DataTransfer();
          // Add the cropped image file to the container
          container.items.add(file);
          // Replace the original image file with the new cropped image file
          fileInputElement.files = container.files;

          // Hide the cropper box
          document.getElementById('image-box').style.display = 'none';
          // Hide the crop button
          document.getElementById('crop-btn').style.display = 'none';
          // Display the Post button
          document.getElementById('confirm-btn').style.display = 'block';
          document.getElementById('caption-input').style.display = 'block';
          document.getElementById('create-new').style.display = 'block';
          document.getElementById('btn-container').style.display = 'none';
        });
    });
  });
</script>
