<% layout('layouts/boilerplate') %>

<div class="container mx-width">
  <h1 class="fs-3 mb-4">Create new post</h1>
  <form action="/p" method="POST" novalidate class="needs-validation">
    <div class="mb-4">
      <input
        type="text"
        name="post[image]"
        class="form-control"
        placeholder="Image Url"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-4">
      <input
        type="text"
        name="post[caption]"
        class="form-control"
        placeholder="Write a caption"
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="d-grid">
      <button class="btn btn-secondary">Share</button>
    </div>
  </form>
</div>
