<% layout('layouts/boilerplate') %>

<div class="card mb-3">
  <% if(post.caption){ %>
  <div class="card-body pb-0">
    <div class="d-flex gap-3">
      <div>
        <img
          src="https://d33wubrfki0l68.cloudfront.net/fb0ba0cbcadbdf0b2ffabf331d2345fb05106e16/20663/images/profile-picture.webp"
          alt=""
          class="rounded-circle"
          id="profile-image"
        />
      </div>
      <div>
        <p class="fs-7 mb-0"><b>anas_ahmad35</b> <%=post.caption %></p>
        <div class="div"></div>
        <p class="text-muted fs-7 mb-0">10m</p>
      </div>
    </div>
  </div>
  <hr />
  <% } %>
  <div class="card-body">
    <div class="d-flex gap-3">
      <div>
        <img
          src="https://d33wubrfki0l68.cloudfront.net/fb0ba0cbcadbdf0b2ffabf331d2345fb05106e16/20663/images/profile-picture.webp"
          alt=""
          class="rounded-circle"
          id="profile-image"
        />
      </div>
      <div>
        <p class="fs-7 mb-0"><b>anas_ahmad35</b> A comment</p>
        <div class="div"></div>
        <p class="text-muted fs-7 mb-0">10m</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex gap-3">
      <div>
        <img
          src="https://d33wubrfki0l68.cloudfront.net/fb0ba0cbcadbdf0b2ffabf331d2345fb05106e16/20663/images/profile-picture.webp"
          alt=""
          class="rounded-circle"
          id="profile-image"
        />
      </div>
      <div>
        <p class="fs-7 mb-0"><b>anas_ahmad35</b> A comment</p>
        <div class="div"></div>
        <p class="text-muted fs-7 mb-0">10m</p>
      </div>
    </div>
  </div>
</div>

<a href="/posts/<%= post._id %>/edit">Edit</a>
<form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
  <button class="btn btn-outline-danger my-3">Delete</button>
</form>
